<div class="container">
  <mat-toolbar color="primary" class="app-toolbar">
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon *ngIf="!isSidenavCollapsed && !hasClicked">menu</mat-icon>
      <mat-icon *ngIf="!isSidenavCollapsed && hasClicked">menu</mat-icon>
      <mat-icon *ngIf="isSidenavCollapsed">menu</mat-icon>
    </button>
    <img src="assets/icons/keep.png" alt="Google Keep" class="logo">
    <span class="app-name">Keep</span>
    <div class="search-bar">
      <mat-icon>search</mat-icon>
      <input matInput placeholder="Search" [formControl]="searchControl">
    </div>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon>refresh</mat-icon>
    </button>
    <button mat-icon-button (click)="toggleViewMode()">
      <mat-icon>view_list{{ viewMode === 'list' ? 'view_grid' : 'view_list' }}</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav 
      #sidenav 
      mode="side" 
      [opened]="true" 
      [ngClass]="{ 'app-sidenav-collapsed': isSidenavCollapsed, 'app-sidenav-expanded': !isSidenavCollapsed }">
      <mat-nav-list>
        <mat-list-item 
          [ngClass]="{'active': activeItem === 'notes'}"
          (click)="setActive('notes')">
          <mat-icon matListIcon>lightbulb_outline</mat-icon>
          <span>Notes</span>
        </mat-list-item>

        <mat-list-item 
          routerLink="/reminders"
          [ngClass]="{'active': activeItem === 'reminders'}"
          (click)="setActive('reminders')">
          <mat-icon matListIcon>notifications_none</mat-icon>
          <span matLine>Reminders</span>
        </mat-list-item>

        <mat-list-item
          [ngClass]="{'active': activeItem === 'edit'}"
          (click)="setActive('edit')">
          <mat-icon matListIcon>edit</mat-icon>
          <span matLine>Edit labels</span>
        </mat-list-item>

        <mat-list-item 
          [ngClass]="{'active': activeItem === 'archive'}"
          (click)="setActive('archive')">
          <mat-icon matListIcon>archive</mat-icon>
          <span matLine>Archive</span>
        </mat-list-item>

        <mat-list-item
          [ngClass]="{'active': activeItem === 'trash'}"
          (click)="setActive('trash')">
          <mat-icon matListIcon>delete</mat-icon>
          <span matLine>Trash</span>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="note-search-bar" (click)="expandForm()" *ngIf="!isExpanded">
        <input matInput placeholder="Take a note...">
        <mat-icon>check_box</mat-icon>
        <mat-icon>brush</mat-icon>
        <mat-icon>image</mat-icon>
      </div>
      <div class="note-form" *ngIf="isExpanded">
        <form [formGroup]="notesForm">
          <input formControlName="title" matInput placeholder="Title" class="note-title">
          <textarea formControlName="description" matInput placeholder="Take a note..." class="note-content"></textarea>
          <app-note-icons (close)="handleClose()" (colorSelected)="handleColorSelected($event)"></app-note-icons>
        </form>
      </div>
    
      <ng-container *ngIf="activeItem === 'notes'">
        <app-notes 
        [viewMode]="viewMode"
        [notes]="filteredNotes" 
          (editNote)="openEditor($event)"
          (archive)="archiveNote($event)" 
          (trash)="trashNote($event)">
        </app-notes>
      </ng-container>
      
      <ng-container *ngIf="activeItem === 'archive'">
        <app-notes 
        [viewMode]="viewMode"
          [activeItem]="activeItem"
          [notes]="archivedNotes" 
          (archive)="archiveNote($event)"
          (unarchive)="unarchiveNote($event)">
        </app-notes>
      </ng-container>
      
      <ng-container *ngIf="activeItem === 'trash'">
        <app-notes 
        [viewMode]="viewMode"
          [notes]="trashedNotes" 
          (trash)="trashNote($event)"
          (restore)="restoreNote($event)"
          (delete)="deleteNote($event)">
        </app-notes>
      </ng-container>
      
      <app-note-editor *ngIf="showEditor" [note]="selectedNote" (save)="handleSave($event)" (close)="handleClose()"></app-note-editor>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
