.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-toolbar {
  background-color: #fff;
  color: #3c4043;
  height: 64px;
  padding: 0 16px;
  box-shadow: 0 1px 3px rgba(60, 64, 67, 0.3);
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  margin-right: 16px;
}

.app-name {
  font-size: 1.5rem;
  font-weight: 500;
  margin-right: 16px;
  color: #3c4043;
}

.spacer {
  flex: 1;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #f1f3f4;
  border-radius: 8px;
  padding: 4px 8px;
  margin-left: 20px;
  flex-grow: 1;
  height: 50%;
  width: 40%;
}

.search-bar mat-icon {
  margin-right: 8px;
  color: #5f6368;
}

.search-bar input {
  background: none;
  border: none;
  outline: none;
  color: #3c4043;
  width: 100%;
}

.note-search-bar {
  width: 54%;
  height: 3.6%;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  margin: 25px auto;
  box-shadow: 0 1px 3px rgba(60, 64, 67, 0.3);
}

.note-search-bar input {
  flex: 1;
  border: none;
  background: none;
  outline: none;
  color: #3c4043;
  font-size: 1rem;
}

.note-search-bar mat-icon {
  color: #5f6368;
  margin-left: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  padding: 8px;  
  border-radius: 19px; 
}

.note-search-bar mat-icon:hover {
  background-color: gainsboro;
  color: #3c4043;
}

.note-form {
  width: 50%;
  height: 18%;
  background-color: white;
  border-radius: 8px;
  padding: 12px;
  margin: 25px auto;
  box-shadow: 1px 2px 3px rgba(60, 64, 67, 0.71);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.note-title {
  font-size: 1 rem;
  font-weight: 500;
  border: none;
  outline: none;
  margin-bottom:15px;
}
.note-content {
  border:1px solid red;
  display: flex;
  flex: 1;
  border: none;
  outline: none;
  resize: none;
  margin-bottom: 8px;
  font-size:13px;
  color: #3c4043;
}


mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.sidenav-container {
  height: calc(100vh - 64px);
}

.app-sidenav {
  background-color: #fff;
  color: #3c4043;
  width: 230px;
  box-shadow: 1px 0 3px rgba(60, 64, 67, 0.3);
  transition: width 0.3s;
}

.app-sidenav-collapsed {
  width: 60px;
}

.app-sidenav-expanded {
  width: 230px;
}

mat-list-item {
  display: flex;
  align-items: center; /* Vertically center the items */
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-right: 8px;
  cursor: pointer;
  font-size: 1rem;
  box-sizing: border-box; /*padding is included in the width */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

mat-list-item mat-icon {
  margin-right: 16px;
  margin-top: 5px; /* Space between icon and text */
  color: #5f6368;
  font-size: 18px; /* Icon size */
  height: 100%;
  width:9%;
  
}

mat-list-item .mat-line {
  flex: 1; /* Ensure the text takes available space */
  display: flex;
  align-items: center;
}

span {
  margin: 0; /* Remove any default margin */
  font-size: 18px; /* Ensure font size matches the rest */
}

mat-list-item:hover {
  background-color:rgba(211, 211, 211, 0.165); /* Background color on hover */
}

mat-list-item.active {
  background-color: #efce6d;
}

mat-list-item.active mat-icon {
  color: #3c4043;
}
