<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onDeleteNote()">Delete note</button>
    <button mat-menu-item (click)="onAddLabel()">Add label</button>
    <button mat-menu-item (click)="onAddDrawing()">Add drawing</button>
    <button mat-menu-item (click)="onMakeCopy()">Make a copy</button>
    <button mat-menu-item (click)="onShowCheckboxes()">Show checkboxes</button>
    <button mat-menu-item (click)="onCopyToGoogleDocs()">Copy to Google Docs</button>
    <button mat-menu-item (click)="onVersionHistory()">Version history</button>
  </mat-menu>
  