.container {
  height: fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: 98%;
}

.notes-container {
  display: flex;
  flex-direction: column; /* Default to list view */
  width: 100%;
}
.list-view{
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-view .note {
  width: 50%;
  margin-bottom: 16px;
}

.grid-view {
  width: 79%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive grid columns */
  gap: 16px; /* Space between grid items */
}

.grid-view .note {
  width: auto; /* Ensure the grid layout controls width */
  margin: 0; /* Remove bottom margin */
}

.note {
  position: relative; /* Allows absolute positioning of child elements */
  width: 260px; /* Adjust width as needed */
  height: 160px; /* Adjust height as needed */
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  // background-color: #ffffff;
  margin-bottom: 16px;
  transition: box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.note:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.note-content h3 {
  margin-top: 0;
  font-size: 1.25rem;
}

.note-content p {
  margin: 0;
  color: #333;
}

.note-icons {
  display: flex;
  justify-content: space-between;
  align-items: end;
  border-radius: 8px;
  margin-top: 65px;
  width: 100%;
  height: 35%;
  background: rgba(255, 255, 255, 0.9); /* Optional background for better visibility */
  z-index: 1; /* Ensure icons appear above other content */
  visibility: hidden; /* Hide by default */
}

.note:hover .note-icons {
  visibility: visible; /* Show icons on hover */
}

.icons {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 12px; /* Space between icons */
}
.archieve{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.icon {
  height: 70%;
  width: 40%;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon:hover {
  background-color: rgba(211, 211, 211, 0.4); /* Adjusted for visibility */
  border-radius: 50%;
}

.lens {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.lens:hover {
  background-color: lightgray; /* Adjusted for visibility */
  border-radius: 50%;
}
